@mixin flex($direction, $align, $justify, $gap) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.app {
  // padding-inline: 150px;
  @include flex(column, center, center, 80px);
  @media screen and (min-width: 768px) {
    .landing {
      padding: 10vw;
      padding-left: 13vw;
      height: 60vw;
      width: 100vw;
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    .logo-area {
      padding-top: 100px;
      width: 35vw;
      height: auto;
    }
    .logo-text {
      padding-top: 50px;
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .landing {
      padding: 0px;
      padding-top: 150px;
      width: 100vw;
      height: 80vh;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
  a {
    color: "#111151";
    text-decoration: none;
    font-weight: 700;
  }
  .landing {
    position: relative;
    background-image: url("../assets/landing.png");
    .header {
      @include flex(row, flex-start, space-between, "");
      .logo-area {
        #logo {
          width: 100%;
          height: 100%;
        }
        #svg {
          position: absolute;
          left: 0;
          top: 50px;
        }
      }
    }
    #landing-img {
      width: 100%;
      z-index: -1;
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      .header {
        @include flex(row, flex-start, center, 20px);
        .logo-area {
          #logo {
            position: "relative";
            top: -60px;
          }
          #svg {
            position: absolute;
            left: 0;
            top: 60px;
            width: 50%;
          }
        }
      }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .header {
        @include flex(column, center, center, 20px);
        .logo-area {
          #logo {
            position: "relative";
            top: 100px;
          }
          #svg {
            position: absolute;
            left: 0;
            top: 100px;
            width: 50%;
          }
        }
      }
    }
  }
  .about-us {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 2rem;
    .list {
      @include flex(row, center, space-between, "");
      width: 100%;
      img {
        width: 275px;
        height: 350px;
      }
    }
    @include flex(column, center, center, 40px);
    @media screen and (min-width: 768px) {
      padding-inline: 150px;

      .list {
        @include flex(row, center, center, 20px);
        flex-wrap: wrap;
      }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      .list {
        @include flex(column, center, center, 20px);
      }
    }
  }
  .services-container {
    width: 80%;
    @include flex(row, flex-start, space-between, "");
    text-align: left;
    align-items: center;
    flex-wrap: wrap;
    h3 {
      font-weight: 400;
      font-size: 2rem;
      color: #111151;
      padding-bottom: 1rem;
    }
    .item {
      width: 30vw;
      padding: 2rem;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      @include flex(column-reverse, flex-start, center, 20px);
      .item {
        width: 100%;
      }
    }
  }
  .link {
    color: transparent;

    position: absolute;
    margin-right: 68%;
    margin-top: 60%;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 10px 50px;
      margin-top: 80%;
    }
    .link-div {
      // background-color: red;
      color: white;
      padding: 20px 100px;
    }
  }
  .port {
    margin: 0;
    background-color: #111151;
    color: white;
    @include flex(row, flex-start, flex-start, "");
    width: 100%;
    .port-text {
      display: flex;
      flex-direction: column;

      gap: 20px;
      width: 100%;
      padding: 2rem;
      h3 {
        font-weight: 400;
        font-size: 1.8rem;
        color: white;
      }
      p {
        font-size: 1.2rem;
      }
      span {
        @include flex(row, center, flex-start, "20px");
      }
    }
    .port-image-container {
      width: 50%;
      border-right: 0.5px solid #c4c4c4;

      // background-color: red;
    }

    .details {
      // background-color: yellow;
      width: 50%;
      padding: 2rem;
      @include flex(column, flex-end, center, "");
      .triangle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        text-align: right;
        font-weight: 600;
        font-size: 1.5rem;
      }
      .detail,
      .detail-title {
        font-size: 1.5rem;
        width: 70%;
        #saga {
          font-weight: 600;
        }
        #text {
          font-weight: 400;
        }
        padding: 20px;
        @include flex(row, center, flex-end, 20px);
        img {
          width: 40px;
          height: 40px;
        }
      }
      .detail {
        border-bottom: 0.5px solid #ffffff66;
      }
      .detail-title {
        border-bottom: 0.5px solid #ffffff;
        font-size: 2rem;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      // @include flex(row, flex-start, center, "");
      .port-image-container {
        width: 50%;
        height: auto;
        border-right: 0.5px solid #c4c4c4;
      }

      .details {
        width: 50%;
        @include flex(column, flex-start, center, "");
        #letsport {
          width: 250px;
          height: 48px;
          margin-bottom: 20px;
        }
        .detail,
        .detail-title {
          padding: 20px;
          border-bottom: 1px solid #3d3d3d;
          @include flex(row, center, flex-start, 20px);
          width: 100%;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
      @include flex(column-reverse, flex-start, center, 20px);
      .port-image-container {
        width: 100%;
      }

      .details {
        width: 100%;

        @include flex(column, flex-start, center, "");
        #letsport {
          width: 250px;
          height: 48px;
          margin-bottom: 20px;
        }
        .detail,
        .detail-title {
          width: 100%;
          #saga {
            font-size: 15px;
          }
          #text {
            font-size: 15px;
            word-break: break-word;
          }
          padding: 20px;

          border-bottom: 1px solid #3d3d3d;
          @include flex(row, center, flex-end, 20px);
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  button {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 10px 40px;
    font-size: 20px;
    background: linear-gradient(180deg, #3d3d3d 0%, rgba(61, 61, 61, 0.8) 100%);
    border-radius: 200px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 10px 20px;
      font-size: 15px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 60px;
    padding-top: 0px;
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 20px;
    padding-top: 0px;
  }
}
